#box > #aside {
  user-select: node;
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 180px;
  height: 100%;
  background-color: #2f4050;
}
#box > #aside > .head {
  height: 160px;
  padding-top: 25px;
  background-color: #243443;
  text-align: center;
}
#box > #aside > .head > .img {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #999;
}
#box > #aside > .head > .img > img {
  width: 80px;
  height: 100px;
}
#box > #aside > .head > h5 {
  margin: 10px 0;
  font-size: 16px;
  color: #a9b0c2;
}
#box > #aside > .nav {
  padding: 20px 0;
}
#box > #aside > .nav > ul > li > a {
  cursor: pointer;
  line-height: 14px;
  margin: 4px 0;
  font-size: 14px;
  color: #a9b0c2;
  width: 100%;
  padding: 10px 20px;
}
#box > #aside > .nav > ul > li > a:hover {
  background-color: #243443;
  color: white;
}
#box > #aside > .nav > ul > li > a > span {
  padding-right: 10px;
}
#box > #aside > .nav > ul > li > ul {
  transition: all .5s;
  height: 0;
  overflow: hidden;
}
#box > #aside > .nav > ul > li > ul > li > a {
  padding: 5px 50px;
  width: 100%;
  color: #a9b0c2;
}
#box > #aside > .nav > ul > li > ul > li > a:hover {
  background-color: #243443;
}
#box > #aside > .nav > ul > li > div > a {
  cursor: pointer;
  line-height: 14px;
  margin: 4px 0;
  font-size: 14px;
  color: #a9b0c2;
  width: 100%;
  padding: 10px 20px;
}
#box > #aside > .nav > ul > li > div > a:hover {
  background-color: #243443;
  color: white;
}
#box > #aside > .nav > ul > li > div > a > span {
  padding-right: 10px;
}
#box > #aside > .nav > ul > li > div > a > .glyphicon-menu-right {
  float: right;
  font-size: 6px;
  line-height: 20px;
}
#box > #top {
  position: fixed;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 180px;
  margin-left: -180px;
  top: 0;
  right: 0;
  z-index: 10;
}
#box > #top > .top-content {
  width: 100%;
  background-color: #fff;
  height: 100%;
  padding: 0 20px;
  line-height: 50px;
}
#box > #top > .top-content > .icon {
  float: left;
}
#box > #top > .top-content > .icon > a {
  font-size: 16px;
}
#box > #top > .top-content > .icon > a > span {
  display: inline-block;
  padding: 5px;
  background-color: #5cb85c;
  color: white;
}
#box > #top > .top-content > .top-r {
  height: 100%;
  float: right;
}
#box > #top > .top-content > .top-r > li {
  height: 100%;
  padding: 0 15px;
  float: left;
}
#box > #top > .top-content > .top-r > li > a {
  color: #337ab7;
  font-size: 14px;
}
#box > #top > .top-content > .top-r > li > a:hover {
  color: #23527c;
}
#box > #top > .top-content > .top-r > li > a > .glyphicon-bell {
  display: inline-block;
  font-size: 16px;
}
#box > #top > .top-content > .top-r > li > a > span {
  padding: 0 5px;
}
#box > #content {
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: 180px;
  padding-top: 50px;
}
#box > #content > div {
  padding: 20px;
}
